# Author: Valinteshley Pierre
## Natural Language Processing Essential Training
### Date: 10/25/2023
#### Course from LinkedIn Learning

**Download NLTK Data**

In [ ]:
import nltk
nltk.download()

In [ ]:
dir(nltk)

**What can you do with NLTK**

In [5]:
from nltk.corpus import stopwords

stopwords.words('english') [0:500:25] # gives a list of stopwordsz: words used frequently but don't contribute much to the meaning of a sentence

['i', 'herself', 'been', 'with', 'here', 'very', 'doesn', 'won']

**Read in semi-structured text data**

In [7]:
# Read in the raw text
rawData = open("SMSSpamCollection.tsv").read()

# Print the raw data
rawData[0:500]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

In [8]:
# replace \t with \n
parsedData = rawData.replace('\t', '\n').split('\n') # take our string and split it based on the occurance of a certain character and return a list
parsedData[0:5]

['ham',
 "I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham']

In [9]:
labelList = parsedData[0::2] # grab all the 'ham' and 'spam' texts
textList = parsedData[1::2] # grab the rest of the texts
print(labelList[0:5])
print("=============")
print(textList[0:5])

['ham', 'spam', 'ham', 'ham', 'ham']
=============
["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.", "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", "Nah I don't think he goes to usf, he lives around here though", 'Even my brother is not like to speak with me. They treat me like aids patent.', 'I HAVE A DATE ON SUNDAY WITH WILL!!']

In [ ]:
import pandas as pd

fullCorpus = pd.DataFrame({
    'label': labelList,
    'body_list': textList,
})

fullCorpus.head() # error since the lists are mismatched in healt

In [11]:
# get the length of the lists
print(len(labelList))
print(len(textList))
print("=============")
print(labelList[-5:]) # print out the last 5 items of a list

5571
5570

In [12]:
fullCorpus = pd.DataFrame({
    'label': labelList[:-1], # don't grab the last 1 
    'body_list': textList,
})

fullCorpus.head()

  label                                          body_list
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [14]:
dataset= pd.read_csv("SMSSpamCollection.tsv", sep='\t', header=None)
dataset

         0                                                  1
0      ham  I've been searching for the right words to tha...
1     spam  Free entry in 2 a wkly comp to win FA Cup fina...
2      ham  Nah I don't think he goes to usf, he lives aro...
3      ham  Even my brother is not like to speak with me. ...
4      ham                I HAVE A DATE ON SUNDAY WITH WILL!!
...    ...                                                ...
5563  spam  This is the 2nd time we have tried 2 contact u...
5564   ham               Will ü b going to esplanade fr home?
5565   ham  Pity, * was in mood for that. So...any other s...
5566   ham  The guy did some bitching but I acted like i'd...
5567   ham                         Rofl. Its true to its name

[5568 rows x 2 columns]

In [16]:
fullCorpus.columns = ['Label', 'body_text']
fullCorpus.head()

  Label                                          body_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!